body {
    margin: 0;
    padding: 0;
}


.header {
    background-color: #20313B;
    display: flex;
    justify-content: center;
}

.header .content-area {
    align-items: center;
    padding: 10px 30px;
    width: 1200px;
    justify-content: space-between;
}

.header h2 {
    color: #F0FFFE;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 26px;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.header ul li a {
    text-decoration: none;
    color: #F0FFFE;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .2em;
}

.content-area {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.body {
    padding: 0;
    margin: 0;
}

.intro-section {
    background-color: #20313B;
    display: flex;
    justify-content: center;
    align-items: center;
}


.intro-section img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.intro-text {
    max-width: 500px;
    margin-right: 100px;
    margin-top: 50px;
}

h1 {
    color: #F0FFFE;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 42px;
    margin-top: 0px;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .2em;
    color: #94F8BF;
    margin-bottom: 20px;
}

.intro-text p {
    color: #F0FFFE;  
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    line-height: 2rem;
    font-size: 16px;
    margin-bottom: 45px;
}

.primary-btn {
    background-color: #94F8BF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .2em;
    color: #20313B;
    padding: 18px 40px;
    border-radius: 1px;
    border-color: #94F8BF;
    border-style: solid;
    transition: 0.3s;
}

.primary-btn:hover {
    background-color: #5be697;
    border-color: #5be697;
    box-shadow: 0px 0px 20px #121c212a;
}

.header ul li a:hover {
    color: #94F8BF;
}

.secondary-btn {
    background-color: #20313B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .2em;
    border-radius: 1px;
    color: #94F8BF;
    padding: 18px 40px;
    border-color: #94F8BF;
    border-style: solid;
    transition: 0.3s;
}

.secondary-btn:hover {
    background-color: #5be697;
    border-color: #5be697;
    color: #20313B;
    box-shadow: 0px 0px 20px #121c212a;
}

.intro-text .primary-btn {
    margin-right: 30px;
}

.card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    margin: 0 30px;
}


.card-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 70px;
    gap: 30px;
    max-width: 1200px;
}


.card-title {
    max-width: 400px;
}

.card-title h2 {
    color: #20313B;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 32px; 
}

.card-title h6 {
    color: #3ef28a;
}

.card-text {
    color: #20313B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    line-height: 2rem;
    font-size: 16px;
    max-width: 750px;
}

.card-images {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.card-images img {
    width: 380px;
    height: 380px;
    object-fit: cover;
    
}

.text-section {
    background-color: #F2F5F7;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}


.quote {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.saying {
    color: #20313B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    line-height: 2.5rem;
    font-size: 20px;
}

.person {
    align-self: flex-end;
    color: #20313B;
}

.cta-section {
    background-image: url(images/cta-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    width: 1200px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    box-sizing: border-box;
    align-items: center;
}

.cta-text h2 {
    color: #20313B;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 32px; 
}

.cta-text p {
    color: #20313B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    line-height: 2rem;
    font-size: 16px;
}

.cta button {
    height: 59px;
}

.footer {
    background-color: #20313B;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.footer-content p {
    color: #F2F5F7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    line-height: 2rem;
    font-size: 16px;
}